<template>
  <header class="text-center bg-blue-800 text-white p-4 mb-10">
    <div class="text-3xl md:text-5xl">
      <i class="fa fa-virus"></i>
      Covid-19 Tracker
    </div>
  </header>
</template>

<script>
export default {
  name: 'Header',
}
</script>

